.el-menu {
  --el-menu-text-color: #18181b;
  --el-menu-item-height: 48px;
  --el-menu-base-level-padding: 16px;
  --el-menu-level-padding: 16px;

  &.el-menu--vertical {
    padding-top: 2px;

    &.el-menu--collapse {
      --el-menu-icon-width: 16px;
      width: 64px;

      .el-menu-tooltip__trigger {
        width: calc(100% + 8px);
      }
    }
  }

  .el-menu-item,
  .el-sub-menu__title {
    margin: 0 8px 2px;
    border-radius: 8px;
  }

  .el-menu-item {
    &.is-active {
      background-color: var(--el-menu-hover-bg-color);
    }
  }
}

.el-popper {
  border-radius: 6px !important;

  &:has(.el-menu--vertical) {
    margin-left: 8px;
  }

  .el-menu {
    border-radius: 6px;

    .el-sub-menu {
      &.is-active {
        .el-sub-menu__title {
          color: var(--el-menu-active-color);
        }
      }
    }
  }
}

.el-dialog {
  border-radius: 8px !important;

  &.is-fullscreen {
    border-radius: 0 !important;
  }

  .el-dialog__headerbtn {
    height: 24px;
    right: 12px;
    top: 12px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;

    &:hover {
      background-color: #f4f4f5;

      .el-icon {
        color: #18181b;
      }
    }

    .el-icon,
    &:focus .el-icon {
      color: #323639cc;
    }
  }
}
